<app-user-profile [persona]="persona"></app-user-profile>
<app-user-board class="user-board" [persona]="persona"(emitUserMsg)="sendUserMessage($event)" ></app-user-board>
<div class="user-msg-board">
  <h2>Tablón de publicaciones</h2>
  <h4>{{persona.nombre}} {{persona.apellidos[0]}} {{persona.apellidos[1]}}</h4>
  <div class="centralContainer">
    <app-user-messages-board class="msg-board" [persona]="persona"></app-user-messages-board>
    <app-friend-list class="friends" [persona]="persona"></app-friend-list>
  </div>
</div>

