.noFriends-board{
  margin-left: 6.9%;
  margin-right: 7.1%;
}

.user-msg-board{
  margin-left: 6.9%;
  margin-right: 7.1%;

  .centralContainer {
    display: flex;
    flex-direction: row;
    width: 100%;

    .msg-board {
      flex-basis: 80%;
      width: 100%;

    }

    .friends {
      width: 100%;
      flex-basis: 20%;

    }
  }


}

