.elements{
  margin-left: 6.2%;
  margin-right: 6.2%;
  display: flex;
  flex-direction: row;
  width: 100%;


  .card{
    margin: 1%;
    display: flex;
    flex-direction: column;

    .imagen {

      width: 80px;
      height: 80px;

      img{
        width: 80px;
        height: 80px;

        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        object-fit: cover;
      }
    }
  }
}
