.container{
  margin-top: 2%;
  margin-left: 6.9%;
  margin-right: 6.9%;
  height: 320px;
  text-align: center;



  input{

    width: 95%;
    height: 200px;
  }
  .btn-board{
    margin-top: 0.5%;
  }
}
