.text {
  margin-left: 7%;
  margin-right: 7%;
}

.container{
  position: relative;
  display: flex;

  flex-direction: column;
  width: 275px;


  .coleguillasCard {

    display: flex;
    flex-direction: row;
    margin-bottom: 1%;
    width: 100%;

    .imagen {

      width: 80px;
      height: 80px;

      img{
        width: 80px;
        height: 80px;

        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        object-fit: cover;
      }
    }

    .infoCard {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      align-self: center;
      align-content: center;
      margin-left: 3%;
      p{
        width: 50%;
        flex-basis: 50%;
      }
      button {
        width: 50%;
        flex-basis: 50%;
        align-self:center;
        margin-left: 4px;

      }

    }

  }

}

